.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: 16px;/*calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));*/
}